/* font-family: 'Oxygen', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --main-bg-color: rgb(243, 200, 57);
  --main-color: rgb(255, 255, 255);
  --hover-bg: rgb(253, 227, 76);
  --border-color: rgb(255, 255, 255);
}
::selection {
  color: var(--main-bg-color);
  background-color: rgb(71, 71, 71);
}
* {
  margin: 0;
  padding: 0;
}
.all {
  position: relative;
  background-color: rgb(250, 237, 193);
}
a {
  text-decoration: none;
}
#banner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}
#banner img {
  width: 150px;
  padding-top: 5px;
}
header {
  position: sticky;
  top: 0;
  font-family: "Oxygen", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
header nav {
  margin: 15px 0px;
  font-size: 1.5rem;
}
header nav ul {
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
}

header nav ul li {
  padding: 7px 16px;
  margin: 1vw 1vw;
  border-radius: 5px;
  color: var(--main-color);
  background-color: rgb(238, 190, 32);
  font-family: "Oxygen", sans-serif;
}
header nav ul li a {
  color: var(--main-color);
}
header nav ul li:hover {
  background-color: var(--hover-bg);
}
.outer {
  margin-bottom: 175px;
}
.container {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: rgb(68, 68, 68);
  
}
.headings {
  padding: 15px 0px 0px 217px;
}

main div p {
  padding: 39px 175px;
}

footer {
  position: relative;
  bottom: 0px;
}
footer div {
  display: flex;
  justify-content: center;
  height: 100px;
  font-size: larger;
  font-weight: bolder;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
footer div span {
  padding: 0px 5px 5px 5px;
}
